[target="_blank"] {
    color: green;
}

header {
    border: 3px dashed blue;
}

footer {
    border: 3px dashed blue;
}

h1 {
    margin-left: 20px;
}

h2 {
    margin-left: 20px;
}

h3 {
    margin-left: 20px;
}

h4 {
    margin-left: 20px;
}

article.new {
    font-size: 24px;
}

li.new {
    background-color: red;
}

article.new.posted-today {
    background-color: pink;
}

ul {
    background-color: yellow;
}

ol {
    background-color: yellow;
}