* {
    box-sizing: border-box;
}

.block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    float: left;
}

.block_red {
    display: flex;
    background-color: red;
    flex-grow: 0;
    width: 20%;
}

.block_green {
    display: flex;
    background-color: green;
    width: 20%;
}

.block_blue {
    display: flex;
    background-color: blue;
    width: 20%;
}

.block_black {
    display: flex;
    background-color: black;
    width: 20%;
}

.block_yellow {
    display: flex;
    background-color: yellow;
    width: 20%;
}