.tooltip-text {
    margin: 16px;
    border-bottom: 1px dotted black;
    position: relative;
    display: inline-flex;
}

.tooltip {
    background-color: grey;
    color: white;
    border-radius: 4px;
    padding: 8px;
    bottom: -40px;
    position: absolute;
}

.tooltip:hover .tooltip-text {
    display: block;
}