.tooltip {
    margin: 16px;
    border-bottom: 1px dotted black;
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    background-color: grey;
    color: white;
    border-radius: 4px;
    padding: 8px;
    bottom: -40px;
    position: absolute;
    display: none;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    display: block;
}