[type="checkbox"]:checked {
    margin-left: 50px;
}

a:visited {
    background-color: gray;
}

h1:hover {
    color: blue;
}

#special::first-letter {
    background-color: green;
    font-size: 100px;
}

label {
    text-transform: uppercase;
}