.list {
    list-style-type: none;
    font-size: 1.5em;
}

.first {
    text-decoration: overline;
}

.third {
    text-decoration: green underline;
}

.second {
    text-decoration: red line-through;
}