.block {
    display: flex;
    min-width: 100px;
    width: 100px;
    height: 100px;
    flex-shrink: 1;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 100px;
    flex-shrink: 1;
    flex-grow: 1;
}