* {
    box-sizing: border-box;
}

table {
    width: 500px;
    margin: 16px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 4px;
    text-align: right;
    line-height: 40px;
}

tbody>tr:hover {
    background-color: #aaaaaa;
    color: #ffffff;
}

thead {
    background-color: aqua;
}

tfoot {
    font-weight: 700;
}

caption {
    margin: 8px;
}

div {
    overflow-x: auto;
}

tbody>tr:nth-child(odd) {
    background-color: #f2f2f2;
}