.row {
    display: flex;
}

.small-bird {
    width: 64px;
    height: 64px;
}

.large-bird {
    width: 320px;
    height: 320px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}